.vscode
.DS_Store
.pytest_cache
.coverage
__pycache__

out/googlenews/
out/media/a*
out/media/b*
out/media/c*
out/media/d*
out/media/e*
out/media/f*
out/media/l*
out/media/m*
out/media/n*
out/media/se*
out/media/si*
out/media/st*
out/media/t*
out/media/u*
out/media/w*
out/media/y*
